<div class="container">
	<mat-card *tdLoading="'loading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary'">
		<mat-card-title>Research Object History</mat-card-title>
		<mat-card-content>
			<div layout="column">
				<div layout="column">
					<div layout="row" *ngIf="successMessage" class="alert alert-success" role="alert">
						<strong>Success: </strong> {{successMessage}}
					</div>
					<div layout="row" *ngIf="errorMessage" class="alert alert-danger" role="alert">
						<strong>Error: </strong> {{errorMessage}}
					</div>
				</div>
				<div layout="column">
					<form layout="column" [formGroup]="myForm">
						<mat-form-field layout="row">
							<input flex matInput id="ROId" formControlName="ROId" type="text" placeholder="Research Object ID" required>
							<mat-error *ngIf="ROId.invalid && (ROId.dirty || ROId.touched)">
								<span *ngIf="ROId.errors.required">
									Research Object ID is required.
								</span>
							</mat-error>
						</mat-form-field>
						<!--<mat-form-field layout="row">-->
							<!--<input flex matInput id="claimer" formControlName="claimer" type="email" placeholder="Claimer's Email">-->
							<!--<mat-error *ngIf="claimer.invalid && (claimer.dirty || claimer.touched)">-->
								<!--<span *ngIf="claimer.errors.required">-->
									<!--Claimer's Email is required.-->
								<!--</span>-->
								<!--<span *ngIf="claimer.errors.email">-->
									<!--Incorrect email pattern.-->
								<!--</span>-->
							<!--</mat-error>-->
						<!--</mat-form-field>-->
					</form>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<div layout="row" layout-align="center center">
				<!--<button mat-raised-button color="warn" (click)="closeDialog()">Reset</button>-->
				<button mat-raised-button color="accent" (click)="submit()">Submit</button>
			</div>
		</mat-card-actions>
	</mat-card>
	<mat-card *ngIf="currentROId && history?.length > 0">
		<mat-card-title>
			History of {{currentROId}}
		</mat-card-title>
		<mat-card-content>
			<mgl-timeline>
				<mgl-timeline-entry *ngFor="let record of history">
					<mgl-timeline-entry-header>{{record.historianRecord.transactionType}}</mgl-timeline-entry-header>
					<mgl-timeline-entry-content>
						<div layout="column" flex>
							<div layout="column">
								<span><strong>Participant: </strong>{{record.historianRecord.participantInvoking}}</span>
							</div>
							<div layout="column">
								<span><strong>Identity: </strong>{{record.historianRecord.identityUsed}}</span>
							</div>
							<div layout="column"flex>
								<strong>Asset State: </strong>
								<div layout="column" flex>
									<span>{{parseAssetState(record.value)}}</span>
								</div>
							</div>
						</div>
					</mgl-timeline-entry-content>
					<mgl-timeline-entry-dot [color]="'accent'"></mgl-timeline-entry-dot>
					<mgl-timeline-entry-side>{{record.historianRecord.transactionTimestamp}}</mgl-timeline-entry-side>
				</mgl-timeline-entry>
			</mgl-timeline>
		</mat-card-content>
	</mat-card>
</div>
